body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: minmax(250px, 20%) 1fr;
    min-height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
}

.right {
    background-color: #f5f5f5;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 0.5rem;
}

.new-project {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 2rem 0;
    padding: 0.5rem;
    cursor: pointer;
    background-color: transparent;
}

.new-project:hover {
    background-color:  #bebebe;
}

.projects {
    width: 100%;
}

.projects h3,
.upper h3 {
    padding: 0 0.5rem;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    cursor: pointer;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}

.project:hover {
    background-color: #f2f2f2;
}

.project div:first-of-type {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.project div:nth-of-type(2) {
    display: flex;
    align-items: center;
}

.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trash-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.bin,
.edit {
    opacity: 0;
    cursor: pointer;
}

.project:hover .bin,
.project:hover .edit,
.todo-container:hover .bin {
    opacity: 1;
}

.upper div {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 0.5rem;
    cursor: pointer;

    padding: 0 0.5rem;
    border-radius: 0.5rem;
}

.upper div:hover {
    background-color: #f2f2f2;
}

.right-heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0
}

.modal {
    display: none;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    padding: 1rem;
    margin: 0.5rem 0;
}

#project-form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#project-form div:first-of-type,
#edit-project-form div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#project-form div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#project-name,
#edit-project-name,
.edit-submit{
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
}

.edit-project-modal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

#edit-project-form {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    min-width: 300px;
}

.close-edit-btn,
.close-btn
{
    font-size: 1rem;
    cursor: pointer;
    border: none;
    padding: 0 0.3rem;
    background-color: white;
    
}

.close-edit-btn:hover,
.close-btn:hover,
.close-todo-btn:hover {
    border: 1px solid black;
}

.todo-container {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    background-color: white;
    border-radius: 0.5rem;
}

.todo-container div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.child-one-sub-one {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.child-one-sub-two {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.main-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;   
    padding: 1rem 2rem; 
}

.new-todo {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;
    margin: 2rem;
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
}

.new-todo:hover {
    border: 2px solid #3f3f3f;
}

.new-todo span:first-of-type {
    font-weight: bold;
    font-size: 3rem;
}

.new-todo span:last-of-type {
    font-weight: bold;
    font-size: 1rem;
}

.add-todo-modal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

#add-todo-form {
    background-color: #f8f9fa;   
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    min-width: 500px;
}

#add-todo-form > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-todo-btn {
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    padding: 0 0.3rem;
    background-color: #f8f9fa;
}

.todo-title,
.todo-des {
    padding: 0.5rem;
    width: 90%;
}

.todo-date {
    padding: 0.5rem;
}

.priority-radios {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.priority-radios input[type="radio"] {
    cursor: pointer;
}

#add-todo-form div:last-of-type > button{
    padding: 0.5rem;
    width: 80px;
    background: transparent;
    cursor: pointer;
}

.completed h4,
.completed p {
    text-decoration: line-through;
    opacity: 0.6;
}